/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@600&family=Raleway:wght@500&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */


/* Navigation Bar */
#navbar{
    position: relative;
    display: flex;
    top: 0px;
    align-items: center;
}

/* Navigation Bar : Logo and Styling */
#logo{
    height: 60 px;
    margin: 8px 16px;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

#logo img{
    height: 80px;
    margin: -2px 27px;
    border-radius: 71px;
}

/* Navigation Bar : List Styling */

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
   font-family: 'Nunito', cursive
}
#navbar ul li a:hover{
   color: black;
   background-color: white ;
}
#navbar ul li a:focus{
    border: 2px solid yellow;

}
/* ______________________________________________________ */

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    height:550px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('img/bg2.jpg') no-repeat center center/cover;
    position:absolute;
    height: 630px;
    width: 100%;
    z-index: -1;
    left: 0px;
    top: 0px;
    opacity: 0.5; 
}

#home h1{
    height: 59px;
    margin-top: -94px;
    font-size: 2.5rem;
    font-family: 'Nunito';
    color: #186425;
    
}
#home p{
    width: 1171px;
    text-align: center;
}

/* Services Section  */
#services{
    margin: 34px ;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    background-color: #dfdfdf;;
    padding: 52px 3px;
    padding-bottom: 12px;
margin: 2px 18px;
border-radius: 23px;
margin-bottom: 20px;
    
}
#services .box img{ 
    height: 163px;
    margin: auto;
    display: block;
    border-radius: 20px;
    
}
#services .box p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}

 */

/* Utility Classes */
 .h-primary{
    padding: 12px;
    font-size: 2.8rem;
    font-family: 'Nunito', cursive
}
 .h-secondary{
    padding: 12px;
    font-size: 1.5rem;
    font-family: 'Nunito', cursive

}
.box p{
    font-family: 'Nunito', cursive
}

.center{
    text-align: center;
}

a .btn{
    width: 120px;
    margin: 12px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid white;
    font-size: large;
}
a .btn:hover{
    background-color: white;
    cursor: pointer;
    
}

/* ____________________________________________________________ */
/* Delivery Agents */
.delivery-agents{
    height: 344px;
}
.delivery{
    display: flex;
    justify-content: right;
    align-items: center;
}
.delivery img{
    height: 121px;
    margin-top: 25px;
    opacity: 0.5;
    padding: 30px;
border-radius: 115px;
}

.delivery::before{
    content: "";
    position: absolute;
    background: url('img/Delivery/deliverybg.jpg') no-repeat center center/cover;
    height: 809px;
    width: 100%;
    z-index: -1;
    margin-top: 429px;
}

.delivery-agents h1{
    margin-left:908px;
    margin-top: 70px;
    font-size: 2rem;
    font-family: 'Nunito';
}

.delivery-info-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    margin-left: 829px;
}

.delivery-info-form input{
    width: 500px;
    padding: 14px;
    border: 2px solid #5b5f60;
    background-color: white;
}
.delivery-info-form .btn{
    padding: 7px;
    width: 532px;
    font-family: 'Nunito';
    font-size: 26px;
    height: 53px;
    border: 2px solid #5b5f60;
    background-color: white;
}

.delivery-info-form input[type='text'], input[type='tel']{
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
}

/* Footer Section */

footer{
    position: relative;
    margin-top: 372px;
    padding: 14px 18px;
    background-color: #cfcdca;
    font-size: 1.2rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  
